.Filter{
    width: 90%;
    background: #747474;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;

}
.Form{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.Input{
    width: 340px;
    margin: 20px;
}
.Button{
    margin: 10px;
    width: 340px;

}