.TableSearch{
    margin: 50px auto;
    width: 95%;
    background: #747474;
    border-radius: 5px;
    padding: 10px;
}
.ContainerButton{
    display: flex;
    //align-items: center;
}
.Button{
    width: 155px;
    margin: 10px auto;
}
.Header{
    text-align: center;
    margin: 10px;
}